 body {
   margin: 0;
   padding: 0;
   background-color:green;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
}

.container {
   width: 100%;
   padding: 100%;
   color: lightsteelblue;
   margin: 0 auto;

}

#button {
   padding: 25px;
   background-color: black;
   margin: 30px;
   border-radius: 20px;
   font-size: 20px;
}

a {
   text-decoration: none;
}
#button2 {
   padding: 25px;
   background-color: black;
   margin: 30px;
   border-radius: 20px;
   font-size: 20px;
}
