 body {
   margin: auto;
   background-color:green;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
}

#button {
   padding: 20px;
   background-color: black;
   border-radius: 20px;
   font-size: 20px;
   color: white;
   text-decoration: none;
}

a {
   text-decoration: none;
}
.button {

}
#button2 {
   padding: 20px;
   background-color: red;
   border-radius: 20px;
   font-size: 20px;
   color: white;
   text-decoration: none;
}
.button2 {
}
.house {
   display: flex;
   justify-content: space-between;
   width: 300px;
   height: 300px;
   margin-top: 30px;
}